{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDB5</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1>THIS PAGE IS CREATED WITH MDB5</h1>
        <h1 class="btn btn-danger">MDB5</h1><br>
        <img src="{% static 'images/ironman.jpg' %}" width="1400px" height="800px" alt="img not found">
    </center>

    <link rel="stylesheet" href="{% static 'js/mdb.es.min.js' %}">
</body>
</html>